DOCTYPE
html
  head
    title Totz Yuta

  body

sass:
  img
    width: 1000px

  body
    background-image: url(images/comingsoon.jpg)
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: right

  .right 
    text-aligh: right
